<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="\assets\UPTC_logo.png" alt="Logo UPTC" width="50" height="300" class="footer-logo">
        <p>Triatlón Universitario UPTC - El evento deportivo más importante de nuestra universidad.</p>
        <div>
          <a href="https://www.facebook.com/UPTCSogamosoOficial" target="_blank" class="social-icon"><i
              class="bi bi-facebook"></i></a>
          <a href="https://x.com/uptcsecsogamoso" target="_blank" class="social-icon"><i class="bi bi-twitter"></i></a>
          <a href="https://www.instagram.com/uptcsogamoso" target="_blank" class="social-icon"><i
              class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/@UPTCSeccionalSogamoso" target="_blank" class="social-icon"><i
              class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/inscripcion" class="footer-link">Inscripciones</a></li>
          <li class="mb-2"><a href="#" (click)="scrollToInfo($event)" class="footer-link">Información</a></li>
          <li class="mb-2"><a routerLink="/podio" class="footer-link">Clasificación</a></li>
          <li class="mb-2"><a routerLink="/galeria" class="footer-link">Galería</a></li>
          <li class="mb-2"><a routerLink="/noticias" class="footer-link">Noticias</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5 class="mb-3">Contacto</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><i class="bi bi-envelope me-2"></i> bienestar.sogamoso@uptc.edu.co</li>
          <li class="mb-2"><i class="bi bi-telephone me-2"></i>
            608 7405626 ext-25</li>
          <li class="mb-2"><i class="bi bi-geo-alt me-2"></i> Universidad Pedagógica y Tecnológica de Colombia</li>
        </ul>
      </div>
    </div>
    <hr class="my-4 footer-divider">
    <div class="text-center">
      <p class="mb-0">
        © {{ currentYear }} Triatlón UPTC. Todos los derechos reservados.
        <span class="footer-separator">|</span>
        <a routerLink="/acercade" class="about-link-footer">
          <i class="bi bi-info-circle me-1"></i>Acerca del Proyecto
        </a>
      </p>
    </div>
  </div>
</footer>